body {
  background-color: #f3f4f6;
  font-family: 'Roboto', sans-serif;
}

.custom-header {
  background-color: #3f51b5;
}


.custom-button {
  background-color: #ff4081;

  color: white;
  font-weight: bold;
}


.page-content {
  padding: 20px;
  text-align: center;
}


.mdl-textfield__input {
  color: #3f51b5;

}


.custom-button:hover {
  background-color: #f50057;
}
